/* General Declarations */

body {
  font-family: "Open Sans", sans-serif;
}

/* NavBar */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 21px 0;
  overflow: hidden;
  background-color: #1b262c;
  text-align: center;
}

li {
  display: inline;
  padding-top: inherit;
  padding-bottom: inherit;
}

li a {
  display: inline;
  color: white;
  font-weight: 500;
  padding-left: 1.4em;
  padding-right: 1.4em;
  padding-top: inherit;
  padding-bottom: inherit;
  text-decoration: none;
}

li a:hover {
  background-color: #1d3846;
}

/* Header */

#header {
  margin-top: 3.78em;
  background: #bbe1fa;
  padding-top: 3em;
  padding-bottom: 3em;
}

#headerphoto {
  max-width: 40%;
  height: auto;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#name {
  text-align: center;
  font-weight: 900;
  font-size: 2.5em;
  color: #1b262c;
}

#titles {
  margin-top: -0.45em;
  text-align: center;
  font-weight: 400;
  font-size: 1.2em;
  color: rgba(27, 38, 44, 0.7);
}

/* About Me */

#about {
  margin-top: -1.21em;
  background-color: #1b262c;
  padding-top: 2em;
  padding-bottom: 2em;
}

.aboutheader {
  text-align: center;
  font-size: 1.6em;
  font-weight: 500;
  color: white;
}

#about p {
  text-align: justify;
  font-size: 0.95em;
  font-weight: 300;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}
